<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ivi.Visa.Interop"
                          publicKeyToken="a128c98f1d7717c1"
                          culture="Neutral" />
        <!-- Redirecting to version 5.5.0.0 of the assembly. -->
		  <bindingRedirect oldVersion="1.0.0.0 - 5.4.65535.65535"
						   newVersion="5.5.0.0"/>
		<!-- Comment out old redirects...
		  <bindingRedirect oldVersion="1.0.0.0 - 5.2.0.0"
				           newVersion="5.3.0.0"/>
          <bindingRedirect oldVersion="3.0.0.0"
                           newVersion="5.0.0.0"/>
          <bindingRedirect oldVersion="3.2.0.0"
                           newVersion="5.0.0.0"/>  -->
        </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
